<h2>Edit Book</h2>

<form (submit)="selectBook()">
    <span>Book ID:</span><input name="bookId" type="number" [(ngModel)]="bookId"/>
    <input type="submit" value="selectBook"/>
</form>

@if (book){
<h3>{{book.Title}}</h3>
<p>({{book.Id}}:{{book.ISBN}}) {{book.Notes}} </p>
<p>{{book.Genres}}</p>

By: 
}
@for(contribution of contributions; track $index){
    <span>@if (!$first){ and } {{contribution.Contributor.FullName}}</span>
}

<button (click)="addContributor='Author'">Add Author</button>
<button (click)="addContributor='Illustrator'">Add Illustrator</button>

@if(addContributor){
    <h2>Add {{addContributor}}</h2>
    <app-author-list [selectText]="`Add This ${addContributor}`" (selectAuthor)="addAuthor($event)"/>
}