<h2>Edit Book</h2>

<form (submit)="selectBook()">
    <span>Book ID:</span><input name="bookId" type="number" [(ngModel)]="bookId"/>
    <input type="submit" value="selectBook"/>
</form>

@if (book){
    
    <button (click)="editMode = !editMode">Edit Details</button>
    @if(editMode){
        <app-book-edit-details [outerBook]="book" (updated)="updateBook($event)"/>
    }@else{
        <h3>{{book.Title}}</h3>
        <p>({{book.Id}}:{{book.ISBN}}) {{book.Notes}} </p>
        <p>{{book.Genres}}</p>
    }   
    @for (contribution of filterContributions('Author'); track $index){
        @if ($first){By: } @else { and } 
        {{contribution.Contributor.FullName}}
        @if ($last){<br>}
    }
    @for (contribution of filterContributions('Illustrator'); track $index){
        @if ($first){Illustrated By: } @else { and } 
        {{contribution.Contributor.FullName}}
    }


    <br><br>
    <button (click)="addContributor='Author'">Add Author</button>
    <button (click)="addContributor='Illustrator'">Add Illustrator</button>
    @if (addContributor){<button (click)="addContributor=null">X</button>}

    @if(addContributor){
        <h2>Add {{addContributor}}</h2>
        <app-author-list [isSub]="true" [selectText]="`Add This ${addContributor}`" (selectAuthor)="addAuthor($event)"/>
    }

}