  <div class="tab-box">
    <button (click)="goto('/local/books/view')">Books</button>
    <button (click)="goto('/local/books/add')">Add Book</button>
    <button (click)="goto('/local/books/edit')">Edit Book</button>
    <button (click)="goto('/local/authors/view')">View Authors</button>
    <button (click)="goto('/local/authors/add')">Add Author</button>

  </div>
  @switch (mode) {
    @case ('local/books/view'){
        <app-book-list/>
    } 
    @case(''){
        <app-book-list/>
    }
    @case ('local/books/add'){
        <app-book-add-form/>
    }
    @case ('local/books/edit'){
      <app-book-edit/>
    }
    @case('local/authors/view'){
      <app-author-list/>
    }
    @case ('local/authors/add'){
      <app-author-add-form/>
    }
    

    @default(){
        <span>TODO: {{mode}}</span>
    }
  }